h1 {
    font-family: "Montserrat";
    text-align: center;
    color: black;
    text-align: left;
    margin-left: 2em;
    font-size: 4rem;
}

.hero-new {
    display: flex;
    flex-direction: row;
}

.anim1 {
    height: 80vh;
    margin: auto 0;
    width: fit-content;
}

.home-hero-content {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-hero-title {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
}

.home-hero-title-img {
    width: 8rem;
}

.home-hero-title-heading {
    font-size: 8rem;
    color: #ffffff;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-hero-caption {
    font-size: 2rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    .anim1 {
        display: none;
    }
}

.s2 {
    background: url("../gallery-folder/img/12288_o303\ \(1\).jpg");
    background-size: cover;
}

.s3 {
    background: url("../gallery-folder/img/4.png");
    background-size: cover;
}

.s4 {
    background: url("../gallery-folder/gallery/img/volleyball_2.jpg");

    background-size: cover;
}

.span {
    background: rgb(0, 0, 0) !important;
}

.fp-watermark {
    display: none !important;
}

/* FOOTER */
.containerrr {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    margin-left: 2rem;
}

.footer {
    background-color: #24262b;
    padding: 60px 0;
}

.footer-col {
    width: 25%;
    /* padding: 0 15px; */
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    padding-left: 34px;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
    margin-left: 34px;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links {
    margin-left: 34px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    /* margin: 0 10px 10px 0; */
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#aboutt {
    background: url("../gallery-folder/img/Group\ 37352.png") no-repeat;
    /* background-position: -200px -50px; */
    height: 100vh;
}

.content-about {
    display: flex;
    position: absolute;
    right: 70px;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 40rem;
    width: 30vw;
}

.title {
    font-family: "Playfair Display", serif;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: black !important;

    font-family: "Playfair Display", serif;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: black !important;
}

.desc {
    padding: 2vw;
    text-align: justify;
    font-size: 1.5em;
}

.photo {
    /* height:80vh;
    width:89%;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:0.5rem; */
    margin: 0.5rem 4rem;
    max-width: calc(100% - 8rem);
    max-height: 80vh;
}

.titleofgallery {
    font-weight: bold;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3.2em;
}

.slide {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fp-arrow.fp-prev {
    border-color: transparent black transparent transparent !important;
}

.fp-arrow.fp-next {
    border-color: transparent transparent transparent black !important;
}

.s4 {
    background-image: url("/assets/images/bg.png");
}

.s6 {
    background-image: url("/assets/images/bg.png");
}

.s7 {
    background-image: url("/assets/images/bg.png");
}

.right {
    width: 40%;
}

.heading {
    font-weight: bold;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3.7em;
}

.heading2 {
    font-weight: bold;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 4em;
}

.description {
    padding: 2vw;
    text-align: left;
    font-size: 1.5em;
    margin-left: -1.79rem;
    margin-top: -0.8em;
}

.boxs {
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.phone {
    display: none;
}

.downloaded,
.brochuree {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    background: #f23a2e;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.brochuree {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    background: #f23a2e;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 410px) {
    .brochuree {
        padding: 0.75rem;
        font-size: 0.75rem;
    }

    .downloaded {
        padding: 0.75rem;
        font-size: 0.75rem;
    }
}

#sponsorr {
    position: absolute;
    height: 100vh;
    width: 100vh;
    right: 0;
    top: 0;
    transform: translate(500px);
    transform: scale(1);
    z-index: 0;
}

.below {
    opacity: 0;
}

@media screen and (max-width: 1100px) {
    #sponsorr {
        width: 30rem;
        height: 30rem;
        right: 0;
        top: 100px;
    }

    .heading {
        font-weight: bold;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 2em;
    }

    .description {
        padding: 2vw;
        text-align: justify;
        font-size: 1.2em;
    }

    .right {
        width: 90vw;
    }

    .laptop {
        margin-top: -1.2rem;
    }

    #aboutt {
        background-position: -200px -50px;
    }
}

@media screen and (max-width: 1100px) {
    .heading {
        font-weight: bold;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 2em;
    }

    .description {
        padding: 2rem;
        text-align: justify;
        font-size: 1.2em;
    }

    .right {
        width: 90vw;
    }

    .laptop {
        margin-top: -1.2rem;
    }
    #map {
        margin-top: -3rem;
        margin-right: 2rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .heading {
        font-weight: bold;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 1.8em;
    }

    .description {
        padding: 2rem;
        text-align: justify;
        font-size: 1.1em;
    }

    .right {
        width: 90vw;
    }

    .laptop {
        display: none;
    }

    .phone {
        margin-top: -3rem;
        display: block;
    }

    .boxs {
        padding: 0.5rem;
    }
}

.sponsor {
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    background: linear-gradient(139.97deg, #171932 6.79%, #094d8a 161.73%);
}

/* Responsive code for about section */
@media only screen and (max-width: 1000px) {
    #aboutt {
        background: url("../gallery-folder/img/4.png") no-repeat;
        scale: calc(90%);
        opacity: calc(0.8);
    }

    .content-about {
        width: auto;
        margin-left: 0;
        text-align: center;
        right: 0;
    }

    .title {
        font-family: "Playfair Display", serif;
        font-size: 2.7em;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0) !important;
    }

    .desc {
        font-size: 1.4em;
        width: 86%;
        text-align: center;
        opacity: calc(1) !important;
    }
}

.s1 {
    display: block !important;
}

.s0 {
    background-image: url(/assets/images/bg.png);
    z-index: -1;
}

.sponsor_box {
    width: 50%;
    padding-left: 2rem;
    margin-right: 2rem;
}

@media screen and (max-width: 800px) {
    #sponsorr {
        display: none;
    }

    .below {
        opacity: 1;
    }

    .above {
        display: none;
    }

    .sponsor_box {
        width: 80%;
    }

    .buttonss {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .sponsor_box {
        width: 100%;
        padding-left: 1rem;
        margin-right: 1rem;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.pattern {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100vh;
    background: url(/assets/images/BG_Pattern.png) no-repeat 50% 50%;
    z-index: -1;
    opacity: 0.4;
}

.nav {
    width: 100%;
    height: 80px;
    position: absolute;
}

.logo {
    font-size: 18px;
    margin: 0.2em 2em;
    line-height: 80px;
    position: absolute;
}

.menu {
    position: absolute;
    height: 80px;
    right: 120px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin: 1em 0;
    padding: 0 30px;
    font-size: 15px;
}

.cart {
    position: fixed;
    font-size: 16px;
    margin: 0.2em 1em;
    line-height: 80px;
    right: 20px;
}

.box-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid #f23a2e;
    top: 10%;
    left: 15%;
    z-index: -1;
    transform: rotate(60deg);
}

.box-2 {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #f23a2e;
    /* border: 2px solid #f23a2e; */
    top: 54%;
    left: 28%;
    z-index: -1;
    transform: rotate(-110deg);
}

.box-3 {
    position: absolute;
    width: 80px;
    height: 80px;
    background: none;
    border: 2px solid #f23a2e;
    top: 34%;
    left: 78%;
    z-index: -1;
    transform: rotate(30deg);
}

.runner img {
    width: 100%;
    z-index: 2;
    margin-top: -20px;
}

.title-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Anton;
    font-size: 90px;
    color: rgba(0, 0, 0, 0);
    font-style: italic;
    text-transform: uppercase;
    z-index: -1;
    -webkit-text-stroke: 2px #f23a2e;
    opacity: 0;
}

.title-1 {
    position: absolute;
    top: 38%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: Anton;
    font-size: 90px;
    color: #f23a2e;
    padding-right: 20px;
    font-style: italic;
    text-transform: uppercase;
    z-index: 1;
    opacity: 0;
    /* -webkit-text-stroke: 2px #f23a2e; */
}

.content {
    position: absolute;
    top: 64%;
    left: 57%;
    width: 36%;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
}

button {
    margin-top: 16px;
    background: #f23a2e;
    color: #fff;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
}

.media {
    position: absolute;
    bottom: 210px;
}

.media ul {
    position: absolute;
    list-style: none;
}

.media ul li {
    color: grey;
    padding: 10px 0;
}

@media (max-width: 900px) {
    .wrapper {
        background: url(/assets/images/BG.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .s0 {
        background: url(/assets/images/BG.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .pattern {
        display: none;
    }

    .runner img {
        display: none;
    }

    .title-1,
    .title-2 {
        font-size: 50px;
    }

    .title-1 {
        left: 20%;
        top: 40%;
    }

    .title-2 {
        left: 50%;
        z-index: 1;
    }

    .menu {
        display: none;
    }

    .content p {
        margin-top: -70px;
        /* display: none; */
    }

    .box-2 {
        top: 70%;
    }

    .content button {
        position: fixed;
        right: 3em;
        bottom: 4em;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .content {
        font-size: 1rem;
    }

    .box-2 {
        display: none;
    }

    .content button {
        margin: auto;
        position: fixed;
        right: 5em;
        bottom: 4em;
        z-index: 1;
    }
}

@media (max-width: 400px) {
    .s0 {
        background-position: -520px;
    }
    .content {
        position: absolute;
        top: 66%;
        left: 45%;
        width: 50%;
        color: grey;
        font-weight: lighter;
        line-height: 24px;
    }
}

.navbar {
    position: absolute !important;
    width: 100%;
    top: 0;
}
