<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Events | Asmita'23</title>
    <meta name="title" content="Asmita'23" />
    <meta
        content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow."
        name="description" />
    <meta content="Asmita'23" name="author" />
    <meta content="Asmita'23, Asmita, sports, fest, IIITA, sports fest" name="keywords" />
    <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
        name="viewport" />

    <meta name="owner" content="Asmita'23,asmita@iiita.ac.in" />
    <meta name="reply-to" content="asmita@iiita.ac.in" />
    <meta name="copyright" content="Asmita'23" />

    <meta name="og:title" content="Asmita'23" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://asmita.iiita.ac.in/" />
    <meta name="og:image" content="" />
    <meta name="og:description"
        content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow." />

    <meta name="twitter:title" content="Asmita'23" />
    <meta name="twitter:description"
        content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow." />
    <meta name="twitter:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../css/events.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="../css/style.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet" />
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" style="font-weight: 600" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="#">Events</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="sponsor.html">Sponsors</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="sponsor.html">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="../gallery-folder/gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="https://asmitaiiita.org/"
                        target="_blank">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 600" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="hero events-bg">
            <div class="hero-bg"></div>
            <div class="hero-highlight"></div>
            <div class="hero-title">
                <h3>Events</h3>
            </div>
        </div>

        <div class="tabbar-container">
            <div class="tabbar">
                <input type="radio" id="all" name="category" value="all" checked onchange="onTabSelect(this, event)" />
                <label for="all">All</label>

                <!-- <input
                        type="radio"
                        id="cricket"
                        name="category"
                        value="cricket"
                        onchange="onTabSelect(this, event)"
                    />
                    <label for="all">All</label> -->

                <input type="radio" id="aquatics" name="category" value="aquatics"
                    onchange="onTabSelect(this, event)" />
                <label for="aquatics">Aquatics</label>

                <input type="radio" id="athletics" name="category" value="athletics"
                    onchange="onTabSelect(this, event)" />
                <label for="athletics">Athletics</label>

                <input type="radio" id="teamevents" name="category" value="teamevents"
                    onchange="onTabSelect(this, event)" />
                <label for="teamevents">Team Events</label>

                <input type="radio" id="Solo" name="category" value="Solo" onchange="onTabSelect(this, event)" />
                <label for="Solo">Solo</label>
                <input type="radio" id="Powerlifting" name="category" value="Powerlifting"
                    onchange="onTabSelect(this, event)" />
                <label for="Powerlifting">Powerlifting</label>
            </div>
        </div>

        <section class="sports-container" id="sports-container" style="background-color: #0f1322"></section>
    </main>

    <div class="section s5 fp-auto-height">
        <footer class="footer" id="footer">
            <!-- <div class="containerrr"> -->
            <div class="footer-row">
                <div class="footer-col">
                    <!-- <h4>Address</h4>
                        <ul style="margin-left: 0">
                            <li>
                                <a
                                    href="https://placement.iiita.ac.in/statistics.php"
                                    >Asmita Headquarters, <br />
                                    IIIT-Allahabad,Jhalwa,<br />Uttar
                                    Pradesh-211015</a
                                >
                            </li>
                        </ul> -->
                    <img src="../assets/images/Logo.png" alt="Logo" class="footer-logo" />
                </div>
                <div class="footer-col">
                    <h4>Phone Numbers</h4>
                    <ul style="margin-left: 0">
                        <li>
                            <a href="">
                                Overall Coordinator:
                                <br />
                                +91 9423693939 - Nimish Rajurkar</a>
                        </li>
                        <li>
                            <a href="">Overall Coordinator:
                                <br />
                                +91 8102863704- Harsh</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Email</h4>
                    <ul style="margin-left: 0">
                        <a href="mailto:asmita@iiita.ac.in">asmita@iiita.ac.in</a>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/asmitaiiita" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                        <a href="https://www.instagram.com/asmita_iiita/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <!-- <a href=""><i class="fab fa-linkedin-in"></i></a> -->
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </footer>
    </div>

    <!-- scripts  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/e75a1d7727.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../js/events.js"></script>
</body>

</html>