<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Events | Asmita'21</title>
        <meta name="title" content="Asmita'21">
        <meta
            content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow."
            name="description" />
        <meta content="Asmita'21" name="author" />
        <meta content="Asmita'21, Asmita, sports, fest, IIITA, sports fest" name="keywords" />
        <meta
            content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
            name="viewport" />

        <meta name="owner" content="Asmita'21,asmita@iiita.ac.in">
        <meta name="reply-to" content="asmita@iiita.ac.in">
        <meta name="copyright" content="Asmita'21">

        <meta name="og:title" content="Asmita'21" />
        <meta name="og:type" content="website" />
        <meta name="og:url" content="https://asmita.iiita.ac.in/" />
        <meta name="og:image" content="" />
        <meta name="og:description"
            content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow." />

        <meta name="twitter:title" content="Asmita'21">
        <meta name="twitter:description"
            content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow.">
        <meta name="twitter:image" content="">
        <meta name="twitter:card" content="summary_large_image">

        <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="../css/events.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="../css/style.css">

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="sponsor.html">Sponsors</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../gallery-folder/gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>

            <div class="hero events-bg">
                <div class="hero-bg"></div>
                <div class="hero-highlight"></div>
                <div class="hero-title">
                    <h3>Events</h3>
                </div>
            </div>

            <div class="tabbar-container">
                <div class="tabbar">
                    <input type="radio" id="all" name="category" value="all" checked
                        onchange="onTabSelect(this, event)">
                    <label for="all">All</label>
                    <input type="radio" id="cricket" name="category" value="cricket"
                        onchange="onTabSelect(this, event)">
                    <label for="cricket">Cricket</label>
                    <input type="radio" id="badminton" name="category" value="badminton"
                        onchange="onTabSelect(this, event)">
                    <label for="badminton">Badminton</label>
                </div>
            </div>

            <section class="sports-container" id="sports-container">
                <div class="sports-card-container" style="background-image: url(/assets/images/bg1.webp);">
                    <div class="sports-card">
                        <h4 class="sports-card-title">
                            Football
                        </h4>
                        <p class="sports-card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
                        </p>
                    </div>
                    <div class="sports-card-anim-block-1"></div>
                    <div class="sports-card-anim-block-2"></div>
                </div>
            </section>

        </main>


        <!-- footer  -->
        <footer class="page-footer bg-color" id="#footer">
            <div class="footer-section footer-section-1">
                <img src="/assets/images/logo512.png" alt="Asmita'23" class="footer-logo">
                <h2 class="footer-heading-2"> <a href="/"> Asmita'23</a>
                    <p style="font-size: medium; font-weight: 300;">Annual Sports Fest @ IIIT Allahabad</p>
                </h2>
            </div>
            <div class="footer-section footer-section-1">
                <h4 class="footer-heading-4">Follow us on</h4>
                <div class="f-sm-cont">
                    <a href="#" class="f-sm-link">
                        <img src="/assets/images/facebook.svg" alt="">
                    </a>
                    <a href="#" class="f-sm-link">
                        <img src="/assets/images/twitter.svg" alt="">
                    </a>
                    <a href="#" class="f-sm-link">
                        <div style="width: 40px; height: 40px; background-color: #ffffff; padding: 0.25rem; border-radius: 2px;">
                            <img src="/assets/images/instagram.svg" alt="" style="width: 100%; height: 100%; color: #0F1322;">
                        </div>
                    </a>
                </div>
                <h4 class="footer-heading-4">Contact Details </h4>
                <ul style="list-style-type: none; padding: 0;">
                    <li>
                        <span class="f-cp-h">Overall Coordinator: </span>
                        <span class="f-cp-d">+91 80900 13637 - Gaurav Katiyar</span>
                    </li>
                    <li>
                        <span class="f-cp-h">Overall Coordinator: </span>
                        <span class="f-cp-d">+91 96496 54790 - Himanshu Bhavnani</span>
                    </li>
                    <li>
                        <span class="f-cp-h">Email: </span>
                        <span class="f-cp-d"> <a href="mailto:asmita@iiita.ac.in" style="text-decoration: underline;">asmita@iiita.ac.in</a> </span>
                    </li>
                    <li >
                        <span class="f-cp-h" style="display: inline-block;">Address: <br/>&thinsp;</span>
                        <span class="f-cp-d" style="display: inline-block;">Asmita Headquarters, IIIT Allahabad, <br/>Jhalwa, Prayagraj, Uttar Pradesh-211015</span>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- scripts  -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="/js/events.js"></script>
    </body>

</html>